* {
    box-sizing: border-box;
}

/*
img {
    width: 100%;
}
*/

nav ul img {
    width: 50px;
    height: 50px
}

/* Basis styles */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    background-color: #ffff;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

/*---------- Navigation -----------*/

nav ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style: none;
    padding-left: 10;
    background-color: rgba(252, 204, 232, 0.88);

}

nav ul li {
    position: relative;
    padding-right: 0.3em;
    font-size: 1.5em;
    display: block;
}

nav li:hover {
    background-color: rgba(255, 135, 61, 0.26);
}

.dropdown > ul {
    display: none;
    position: absolute;
    background-color: rgba(250, 246, 246, 0.94);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    padding: 1em;

}

.dropdown > ul li {
    white-space: nowrap;
    padding: 0 0em;
    font-size: 0.7em;

}

.dropdown:hover > ul {
    display: block;
    background-color: rgba(255, 187, 226, 0.96);

}

a {
    color: #f2f1f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.3em;
}


/**----------- Media Q ------------------**/

@media screen and (max-width:1040px) {
    nav ul {
        display: flex;
        flex-direction: column;
    }
}


/*---------- Indhold ---------*/

.indhold {
    box-sizing: border-box;
    padding: 0 30px 1px;
    margin: 0 auto;
    max-width: 1200px;
    max-width: 900px;
    position: relative;
}

.footer {
    text-align: center;
    color: rgb(255, 159, 214);
}


/*---- skrifttyper osv. ------*/

h1 {
    font-family: 'Kohinoor Bangla', monospace;
    font-size: 3.2em;
    font-weight: lighter;
}

h2 {
    font-family: 'Kohinoor Bangla', sans-serif;
    font-size: 2em;
    font-weight: lighter;
}

h3 {
    font-family: 'Kohinoor Bangla', sans-serif;
    font-size: 1.6em;
    font-weight: lighter;
}

h4 {
    font-family: 'Kohinoor Bangla', sans-serif;
    font-size: 1.3em;
    font-weight: lighter;
    margin-bottom: 0;
}


p {
    font-family: 'Kohinoor Bangla', sans-serif;
    font-size: 1.3em;
    font-weight: lighter;
}

li,
a {
    font-family: 'Kohinoor Bangla', sans-serif;
    font-size: 1.3em;
    font-weight: lighter;
}

.bottom {
    background-color: rgba(252, 204, 232, 0.88);
    padding-top: 42px;
}
